<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Commuter' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>8e383b9e-b5a5-47df-830b-44a46921b335</InstrumentationKey>
</ApplicationInsights>